.carousel {
    padding: {
        top: 64px;
        bottom: 74px;
    }
    height: 886px;
    border-radius: 16px;
    overflow: hidden;
    .carousel-item {
        padding: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        h1 {
            text-align: center;
            color: white;
            font-size: 48px;
            line-height: 58px;
        }
        p {
            text-align: center;
            font-size: 18px;
            line-height: 27px;
            color: white;
        }
        .button-1 {
            height: auto;
            padding: 17px 35px;
        }
        border-radius: 16px;
        height: 786px;
        background: url("../../assets/introduce.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slick-dots,
    .slick-dots-bottom {
        li > button {
            height: 12px;
            background-color: black;
            border-radius: 13px;
        }
    }
}
@media screen and (max-width: 1440px) {
    .carousel {
        height: 642px;
        .carousel-item {
            height: 542px;
        }
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        padding: {
            left: 0;
            right: 0;
        }
        .carousel-item {
            border-radius: 0px;
            h1 {
                font-weight: 600;
                font-size: 32px;
                line-height: 40px;
            }
            font-size: 32px;
        }
    }
}
