.loadmore-btn {
    display: flex;
    justify-content: center;
    background-color: white;
    .button-1 {
        height: auto;
        padding: 7px 40px;
    }
    padding: {
        top: 46px;
        bottom: 126px;
    }
}
